.menu{
	float:center;
	
}

.menu a{
	width: 500px;
	height: 130px;
	font-size:90px;
	float: left;
	margin-left:20px;
	margin-top: 20px;
	background-color:#F8F8F8;
	color: #1b4fa3;
	text-align: center;
	border-color:#F8F8F8;
}

.menu a:hover{
	background-color: #F8F8F8;
	color:#1b4fa3;
	text-decoration: underline;
	border-color:#F8F8F8;
	
}

.menu a:active{
	background-color: #F8F8F8;
	color:#1b4fa3;
	text-decoration: underline;
}
.dia_semana{
	width: 46%;
	float: left;
	text-align: center;
}	
@media (min-width: 480px) and (max-width: 768px){
	.menu a{
	width: 100%;
	height: 150px;
	font-size:60px;
	float: center;
	margin-left:0px;
	margin-top: 20px;
	background-color:#F8F8F8;
	color: #1b4fa3;
	text-align: center;
	border-color:#F8F8F8;
}
.menu a span{
	margin-top: 35px;
	}
	.dia_semana{
	margin-left:0px;
	width: 100%;
	float: center;
	text-align: center;
}
}
@media (max-width: 480px){
	.menu a{
	width: 100%;
	height: 100px;
	font-size:40px;
	float: center;
	margin-left:0px;
	margin-top: 20px;
	background-color:#F8F8F8;
	color: #1b4fa3;
	text-align: center;
	border-color:#F8F8F8;
}
.menu a span{
	margin-top: 25px;
	}	
	.dia_semana{
	margin-left:0px;
	width: 100%;
	float: center;
	text-align: center;
}
	
}

@media (min-width: 768px) and (max-width: 979px){
	
	.menu a{
	width: 100%;
	height: 200px;
	font-size:60px;
	float: center;
	margin-left:0px;
	margin-top: 20px;
	background-color:#F8F8F8;
	color: #1b4fa3;
	text-align: center;
	border-color:#F8F8F8;
}
.menu a span{
	margin-top: 6%;
	}
	.dia_semana{
	margin-left:0px;
	width: 100%;
	float: center;
	text-align: center;
}	
}
@media (min-width: 980px) and (max-width: 1080px){
	.menu a{
	width: 48%;
	height: 150px;
	font-size:40px;
	float: center;
	left:20px;
	margin-left:1%;
	margin-top: 2%;
	background-color:#F8F8F8;
	color: #1b4fa3;
	text-align: center;
	border-color:#F8F8F8;
}
.menu a span{
	margin-top: 13%;
	}	
	.dia_semana{
	width: 47%;
	height:250px;
	float: center;
	margin-left:1.8%;
	text-align: center;
}	
}
@media (min-width: 1080px){
	.menu a{
	width:48.5%;
	height: 200px;
	font-size:50px;
	float: center;
	margin-left:1%;
	margin-top: 1%;
	background-color:#F3F3F3;
	color: #1b4fa3;
	text-align: center;
	border-color:#F8F8F8;
}
.menu a span{
	margin-top: 13%;
	}	
	.dia_semana{
	width: 48.3%;
	height:250px; 
	float: left;
	margin-left:1%;
	text-align: center;
}	
}
@media (min-width: 1600px){
	.menu a{
	width:48.5%;
	height: 300px;
	font-size:70px;
	float: center;
	margin-left:1%;
	margin-top: 1%;
	background-color:#F3F3F3;
	color: #1b4fa3;
	text-align: center;
	border-color:#F8F8F8;
}
.menu a span{
	margin-top: 14%;
	}	
.dia_semana{
	width: 48.5%;
	float: center;
	margin-left:1%;
	text-align: center;
}	
}