#modal-body{
	padding:20px;
	min-width:90%;
	overflow-y: auto;
	}

.titulo-modal{
	color:black;
}
.imagens-modal{
	float:left;
	display:inline;
	width:200px;
	margin-right:10px;
}
.imagens-modal img{
	padding-bottom:2px;
}
#modal-body{
	float:right;
	display:inline;
	max-widht:100px;
}

#form-modal-imagem{
	float:left;
	width:100%;
}

.conteudo p{
	text-align:justify;
}

.titulo-modal{
	text-align:center;
}

#imagens-header h3{
	color:black;
	text-align:center;
}

#botao-adicionar{
	position:absolute;
	bottom:0px;
	margin-left:40%;
}

.modal-header p{
	color:white;
}

.botao-excluir{
	
}

.div-imagem{
	float:left;
	height:200px;
	width:210px;
}

#conteudo{
	float:left;
}

#content{
	float:right;
	width:100%;
}

#modal-edit{
	margin-left:5%;
}

.div-imagem-modal{
	float:left;
}

.mostrar-link{
	width: 90%;
}

.div-link{
	display: none;
}

.div-imagem img{
	height:100px;
	width:130px;
	padding:10px;
	margin-left:5px;
	}
	
.div-imagem-modal img{
	height:100px;
	width:130px;
	padding:5px;
}

.imagem-editar{
	width:30%;
	height:35%;
	float:left;
	padding:5px;
	background-color:gray;
	border-radius:2px;
	margin-right:5px;
	position:relative;
	overflow:hidden;
	margin-top:5px;
}

.imagem-editar img{
	width: 100%;
    position: relative;
    top: 50%;
    transform: translate(0, -50%); 
}

.modal-imagem{
	width: 50%;
	margin-left:-20%;
}

#modal-body-imagem{
	padding:20px;
	min-width:90%;
	overflow-y: auto;
	overflow-x:auto;
	}
	
.editar-imagem-aviso{
	color:black;
}

.botao-editar-imagem{
	float:right;
	bottom:10px;
	position:absolute;
}

.imagens-modal img{
	width:90%;
}
.table_col h3{
	font-color:#000000;
}