body{
	font-family: arial;
	height: 100%;
}
.linha{
	width: 100%;
	background: #363636;
	height: 90px;
}
#bloco-esquerda{
	width: 15%;
	height: 800px;
	float: left;
	background: #363636;
}
.logo-cimol{
    width: 5%;
    padding: 4px 0 0 20px;
}
.img-logo{
	width: 96%;
}
.opcao {
    width: 80%;
    margin: 0 auto;
}
ul{
    list-style: none;
    color: #ffffff;
    padding: 0;
    font-size: 18px;
    margin: 0;
}
#lista-menu li {
    background: #cccccc;
    width: 95%;
    text-align: center;
    margin: 10px auto;
    height: 35px;
    border-radius: 4px;
	cursor: pointer;
	padding-top: 5px;
}
#lista-menu li:hover{
	background: #696969;
}
#content {
    width: 85%;
    margin: 10px auto;
    float: left;
    padding: 10px;
}
.conteudo{
	display: none;
}
table {
    border: 1px solid;
    text-align: center;
    margin: 0 auto;
    width: 90%;
}
td {
    border: 1px solid;
}
.titulo-registro {
    font-size: 19px;
    color: #363636;	
}
.titulo {
    text-align: center;
    font-size: 33px;
    background: #337ab7;
    margin-bottom: 10px;
    border-radius: 3px;
    color: #ffffff;
    margin-top: 0;
}
.novo {
    margin-left: 56px;
	width: 130px;
	height: 40px;
	margin-bottom: 25px;
	font-size: 15px;	
}
.modal {
    display: none;
    z-index: 999;
    position: fixed;
    background: #ccc;
    top: 103px;
    left: 400px;
    width: 47%;
    height: 430px;
}
.formulario {
    background: #363636;
    border-radius: 4px;
    color: #a9a9a9;
    padding-bottom: 20px;
}
.entrada-dados{
    border: none;
	width: 50%;
	font-size: 16px;
	margin: 10px 10px;
	border-radius: 3px;
	height: 28px;
	padding-left: 5px;
	box-sizing: border-box;
}
.btnModal {
    width: 130px;
	height: 40px;
	margin: 10px 10px 10px 0;
}
.addCampo {
	cursor: pointer;
}
#addAluno{
    float: right;
	margin-right: 30px;
}
.eixo{
	width: 32%;
}
.eixo input{
	margin: 10px 0 0 10px;
}
.subtitulo{
	background: #cccccc;
    font-size: 24px;
    text-align: center;
}
.btnEnviar {
    width: 200px;
    font-size: 17px;
    margin: 2% auto;
    display: inline-block;
}
#menu-aluno {
    color: #000000;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
#menu-aluno li {
    background: #ccc;
    margin: 5px auto;
    border-radius: 4px;
    font-size: 20px;
    width: 100%;
    cursor: pointer;
    padding: 6px 0;
    color: #fff;
}
#menu-aluno li:hover{
    background: #696969;
}
.Inscrconteudo{
   display: none;
}
.Campform{
    padding: 10px 5px;
    border: none;
    border-radius: 4px;
    font-size: 17px;
    width: 60%;
    margin: 5px 0 10px 0;
    display: block;
}
select{
    width: 50%;
}
input[type=checkbox], input[type=radio] {
    margin: 0 10px;
}
#descEixo{
	margin-left: 36px;
}
#addEixo {
    margin-left: 14px;
}
h3 {
    margin-left: 11px;
}
.formulario{
    width: 100%;
    padding-top: 20px;
    text-align: left;
    padding-left: 10px;
}

.formulario label{
    font-weight: normal;
    color: #c5bcbc;
    width: 30%;
    text-align: left;
    margin: 5px 0;
}

.formulario input  {
    display: block;
}

#lista-menu li a { 
    font-size: 16px;
}

#codigo-evento {
    width: 50px;
}
input[type="radio"].Campmarc{
    display: inline-block;
}