
#noticias{
	padding:auto;
}
.noticia{
	min-height:450px;
	margin:10px;
	width: 95%;
	border:solid #EEE9E9 1px;
}
.noticia p{
	color:#333;
	text-align:justify;
}

.imagem{
	width: 98%;
	float:left;
	margin-left:15px;
	margin-top: 30px;
}
.imagem img{
	width:90%;
}


.texto{
	height:auto;
	width: 95%;
	float:left;
	margin-left:1px;
	margin-top:3px;
	letter-spacing: 1px;
}

.saiba_mais{
	margin-bottom:15px
}


h1{
	text-align: left;
	font-family: Helvetica;
	color: #333;
	font-weight: bolder;
	font-weight: normal;
	font-size: 30px;
}


h2{
	text-align:justify;
	font-size: 24px;
}

h3{
	font-size:30px;
	margin-left:10px;
	
	
}



#noticia {
	width:90%;
	margin:auto;
}
#noticia img{
	width:100%;
	float:left;
	
}
#noticia p{
	font-size:18px;
	text-align: justify;
	
}
#noticia h2{
	font-weight: bold;
	font-family: Helvetica;
	
}

@media screen and (min-width: 1024px) {
	#noticia img{
		width:50%;
	}
	.noticia{
		width:30%;
		
		float:left;
		min-height:520px;
		/*border-bottom:solid 1px #545454;*/
	}
	.noticia .imagem{
		width:98%;
	}
	.noticia .imagem img{
		width:95%;
		
	}
	.noticia .texto{
		width:98%;
	}
	.noticia .texto p{
		margin-left:5px;
	}
	.noticia .texto h2{
		margin-left:5px;
		font-size:18px;
	}
	
}
@media screen and (min-width: 1644px) {
	.noticia{
		width:20%;
		min-height:560px;
	}
}